*{
    padding:0;
    margin:0;
}
#navbar {
    height : 60px;
    background-color: rgb(134, 155, 33);
    color: aliceblue;
    align-self: center;
    font-size: 30px;
}
h1{
    color:red;
    text-align: left;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    height: 60px;
}
p{
    color:rgb(98, 60, 236);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
}
body{
    background-color : rgb(231, 225, 225);
    background-image: url("download1.jpeg");
}
a{
    margin-right: 300px;
}
img{
    image-rendering: crisp-edges;
}
